<%= render "shared/welcome_link" %>
<br>
<head>
  <h1><%= "#{@user.name}'s Dashboard" %></h1>
</head>
<br>
<body>
  <%= button_to "Discover Movies", user_discover_index_path(@user), class: "button", method: :get %>
</body>
<br>

<h2>Viewing Parties I've Been Invited To</h2>
<% @invited_to_viewing_parties.each do |viewing_party| %>
  <p><%= viewing_party.movie %></p>
  <p>Date and Time: <%= viewing_party.viewing_date.strftime('%Y-%m-%d') %> <%= viewing_party.viewing_time.strftime('%H:%M') %></p>
  <p>Hosted by: <%= viewing_party.host %></p>
  <p>Invited: <%= viewing_party.users.map { |user| user == @user ? "<strong>#{user.name}</strong>" : user.name }.join(', ') %></p>
<% end %>

<h2>Viewing Parties I've Created</h2>
<% @created_viewing_parties.each do |viewing_party| %>
  <p><%= viewing_party.movie %></p>
  <p>Date and Time: <%= viewing_party.viewing_date %> <%= viewing_party.viewing_time %></p>
  <p>Hosted by: You</p>
  <p>Invited: <%= viewing_party.users.map(&:name).join(', ') %></p>
<% end %>
